<%- include("./partials/head.ejs")%>

<%- include("./partials/header.ejs")%>

    <main>

        <div class="titulo-carro">
            <i class="fa-solid fa-cart-shopping"></i><h2>Compra!</h2>
        </div>
        <article class="form-producto" >
            <section class="items" id="mostrandoItems">

            </section>
                
                <div class="linea-horizontal"></div>
                <div class="linea-vertical"></div>

                <section class="finalizar">
                    <div class="resumen-orden">
                        <h2>Resumen de compra</h2>
                    </div>
                    <section class="suma-items">
                           
                    </section>
                    
                    <h2 id="cantTotal"></h2>
                    
                    <h2 id="precioTotal"></h2>
                    
                    

                    
                </section>
        </article>

    </main>
    
<%- include ("./partials/footer.ejs")%> 
