<%- include("./partials/head.ejs")%>

<div class="error">
    <img  src="./images/logo-dog.png" alt="">
    <h3>ERROR</h3>
    <p>Esta página no existe. Volver al </p>
    <a href="/">home</a>
</div>
    

</body>