<%- include("./partials/head.ejs")%>

<%- include("./partials/header.ejs")%>

<main >
    <div class="imgConstruccion">
        <img  src="/images/SITIO-EN-CONSTRUCCION.jpg" alt="">
    </div>

</main>

<%- include ("./partials/footer.ejs")%> 