
        <footer>
           <section>
                <ul class="mas-info">
                    <div>
                        <button class="boton-mas-info">MÁS INFORMACIÓN <i class="fa-solid fa-angle-down"></i></button>
                    </div>
                    <ul class="desplegables-mas-info">
                        <div class="mas-info-links">
                            <li><a href="/user/login">Inicio sesión</a></li>
                            <li><a href="/user/registro">Crear cuenta</a></li>
                        </div>
                        <div class="mas-info-datos">
                            <p id="datos-contacto">Datos de contacto</p>
                            <p>RockDog@gmail.com</p>
                        </div> 
                        </ul>
                </ul>
                <ul class="redes-sociales">
                    <li><a href="/error"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="/error"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="/error"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="/error"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
                <ul class="links-footer">
                    <li><a href="/"> Home </a></li>
                    <li><a href="/pagina-en-construccion">Política de privacidad </a></li>
                    <li><a href="/pagina-en-construccion">Terminos y condiciones </a></li>
                    <li><a href="/pagina-en-construccion">Copyright </a></li>
                </ul>
                    <div>
                        <!--<button class="boton-subir">Subir <i class="fa-solid fa-angle-up"></i></button>-->
                    </div>
        </section>
    </footer>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/carrito.js"></script>
<script src="/js/displayCarrito.js"></script>
<script src="/js/displayCompra.js"></script>
<script src="/js/validaciones.js"></script>
<!--<script src="/js/elementos-js"></script>-->
</html>
