<seccion class="secciones">
    <article class="marca-main">
        <a href="/pagina-en-construccion"><img src="/images/marcas/royal_canin_logo.jpg" alt="..."></a>
    </article>
    <article class="marca-main">
        <a href="/pagina-en-construccion"><img src="/images/marcas/logo-excellent.jpg" alt="..."></a>
    </article>
    <article class="marca-main">
        <a href="/pagina-en-construccion"><img src="/images/marcas/pedigree_Logo.jpg" alt="..."></a>
    </article>
    <article class="marca-main">
        <a href="/pagina-en-construccion"><img src="/images/marcas/whiskas-logo.jpg" alt="..."></a>
    </article>
</seccion>
